%h1 Current value of Minecraft: #{@eu_value}
%h5 (#{@us_value}) 
%p Last updated: #{@last}
%h2 Average value of Minecraft: #{@avg_value}
%p Recorded since: #{@since}
%br
%a(href='#')
  #moreinfo Click here for more information
